@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300');
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.outer-menu {
    position: fixed;
    top: 0 ;
    right: 12vh;
    z-index: 1;
}
.outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    top: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
    pointer-events: auto;
    visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: .75s;
    -moz-transition-duration: .75s;
    -o-transition-duration: .75s;
    transition-duration: .75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease 0.4s;
    -o-transition: opacity 0.4s ease 0.4s;
    -moz-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.outer-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: .5em 1em;
    background: rgba(58, 62, 77, 0.75);
    -moz-border-radius: 0 0.12em 0.12em 0;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow 0.4s ease;
    transition: -webkit-box-shadow 0.4s ease;
    -o-transition: box-shadow 0.4s ease;
    -moz-transition: box-shadow 0.4s ease, -moz-box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease, -moz-box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.outer-menu .hamburger > div {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
    height: 2px;
    background: #FEFEFE;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
    top: 10px;
}
.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.outer-menu .menu > div {
    width: 200vw;
    height: 200vw;
    color: #FEFEFE;
    background: rgba(58, 62, 77, 0.97);
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.outer-menu .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
* {
    font-family: 'Circe', Arial, sans-serif;
}
body {
    overflow-x: hidden;
    font-size: 18px;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #fff;
}
header,
section {
    min-height: 10px;
    display: block;
    margin: auto;
    position: relative;
}
header:after,
section:after {
    /*отцентровка блока*/
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}
img {
    width: 100%;
    height: auto;
}
/*------header----------*/
.slider {
    background-image: url('../img/slider-bg.png');
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    padding: 25px 90px;
    color: #fff;
    font-size: 18px;
}
@media (max-width: 1020px) {
    .slider {
        padding: 20px;
    }
}
@media (max-width: 880px) {
    .sliderBottom-left__text,
    .sliderBottom-slogan__grey {
        display: none;
    }
}
/*========header-menu========*/
#header-menu {
    display: block;
    width: 1290px;
    background-color: #3a3e4d;
}
.headerMenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 70px;
}
.headerMenu a {
    font-size: 16px;
}
.headerMenu-link {
    margin-left: 50px;
}
.headerMenu-link:hover {
    border-bottom: 1px solid #fff;
}
.headerMenu__up li {
    display: inline-block;
}
.navigationMenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.caption {
    text-transform: uppercase;
    color: #82848c;
}
.menuBlock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    text-align: left;
    padding: 0 10px;
    max-width: 230px;
}
.menuBlock li {
    margin-top: 15px;
}
.menu-link:hover a {
    border-bottom: 1px solid #fff;
}
.menu-link:hover:after {
    content: url('../i/right.svg');
    padding-left: 10px;
}
.header-menu__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 80px 0 25px 0;
}
.sliderBottom-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.file-pdf:after {
    content: 'PDF';
    font-size: 12px;
    background: #1e212e;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
}
.file-pdf:hover:after {
    content: none;
}
@media (max-width: 900px) {
    .headerMenu-link {
        margin-left: 20px;
    }
    .menu-link:hover:after {
        content: none;
    }
}
@media (max-width: 770px) {
    .navigationMenu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .menuBlock {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    #header-menu {
        overflow-x: hidden;
    }
}
/*=======slider-top=====*/
.sliderTop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 130px;
}
.sliderTop-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sliderTop-logo__img {
    width: 65px;
    margin-right: 20px;
}
.sliderTop-logo__text {
    font-size: 18px;
}
.sliderSearch {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sliderSearch a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    margin: 0 10px;
}
.sliderSearch__lang:hover {
    border-bottom: 1px solid #fff;
}
.sliderSearch__item {
    background: url('../i/search.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
@media (max-width: 1020px) {
    .sliderSearch {
        padding-right: 80px;
    }
}
@media (max-width: 440px) {
    .sliderTop {
        margin-bottom: 60px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .sliderSearch {
        margin-top: 20px;
        padding: 0;
    }
    .sliderBottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .sliderBottom-left,
    .sliderBottom-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .sliderBottom-left img {
        margin: 0 20px;
    }
}
/*====sliderCentral=====*/
.sliderCentral {
    margin-bottom: 130px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.sliderCentral-text {
    -webkit-box-flex: 7;
    -webkit-flex-grow: 7;
    -moz-box-flex: 7;
    -ms-flex-positive: 7;
    flex-grow: 7;
    max-width: 600px;
}
.sliderCentral-name {
    font-size: 48px;
}
.sliderCentral-description {
    margin: 50px 0;
}
.gradient-btn {
    border: none;
    padding: 15px 20px;
    color: white;
    font-size: 14px;
    background-image: -webkit-gradient(linear, left top, right top, from(#1c42cf), to(#0658ff));
    background-image: -webkit-linear-gradient(left, #1c42cf 0%, #0658ff 100%);
    background-image: -moz-linear-gradient(left, #1c42cf 0%, #0658ff 100%);
    background-image: linear-gradient(to right, #1c42cf 0%, #0658ff 100%);
    background-position: left center;
}
.gradient-btn:after {
    content: url('../i/right.svg');
    padding-left: 10px;
}
.gradient-btn:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#0658ff), to(#1c42cf));
    background-image: -webkit-linear-gradient(left, #0658ff 0%, #1c42cf 100%);
    background-image: -moz-linear-gradient(left, #0658ff 0%, #1c42cf 100%);
    background-image: linear-gradient(to right, #0658ff 0%, #1c42cf 100%);
}
.sliderCentral-video {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 5;
    -webkit-flex-grow: 5;
    -moz-box-flex: 5;
    -ms-flex-positive: 5;
    flex-grow: 5;
}
.sliderCentral-video > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: #82848c;
}
.sliderCentral-video__item {
    width: 75px;
    margin-bottom: 20px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;
    -moz-transition: transform 1s, -moz-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
}
.sliderCentral-video__item:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
@media (max-width: 750px) {
    .sliderCentral {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .sliderCentral-video {
        margin-top: 20px;
    }
    .sliderCentral-text {
        max-width: 100%;
        text-align: center;
    }
}
@media (max-width: 550px) {
    .slider {
        font-size: 14px;
    }
    .sliderCentral-name {
        font-size: 30px;
    }
}
/*====sliderBottom=====*/
.sliderBottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.sliderBottom-left {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.sliderBottom-left img {
    width: 20px;
    margin-left: 25px;
}
.sliderBottom-slogan {
    display: inline-block;
    float: right;
}
.sliderBottom-left__text,
.sliderBottom-slogan__grey {
    color: #82848c;
}
.sliderBottom-slogan__link {
    margin: 0 20px;
    border-bottom: 1px solid #fff;
}
.sliderBottom-slogan__link:hover {
    border-bottom: none;
}
.socialNetworks {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;
    -moz-transition: transform 1s, -moz-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
}
.socialNetworks:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
@media (max-width: 400px) {
    .sliderTop {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
@media (max-width: 350px) {
    .slider {
        padding: 10px;
    }
    .sliderTop-logo__img {
        margin-right: 5px;
    }
}
/*-----------section-About-----------*/
.about {
    padding: 0 20px;
}
.about-title {
    display: block;
    text-align: center;
    margin-bottom: 150px;
}
.block-about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.about-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    float: left;
    margin-left: 200px;
    max-width: 50%;
}
.about-title__name,
.about-info__desc {
    font-size: 30px;
}
.about-title__description,
.about-info__text {
    font-size: 18px;
    color: #ced4da;
}
.about-info__text {
    margin-top: 40px;
}
.about-info__link {
    display: block;
    text-decoration: underline;
    color: #1c42cf;
    text-transform: uppercase;
    font-size: 14px;
    margin: 50px 0 190px 0;
}
.about-title__name {
    font-weight: bold;
    margin: 80px 0 20px 0;
}
.about-pic {
    width: 270px;
    height: 370px;
    margin-left: 110px;
    margin-top: -85px;
    display: inline-block;
    float: left;
}
@media (max-width: 1180px) {
    .about-info {
        margin-left: 0;
        max-width: 100%;
    }
    .block-about {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .about-title {
        margin-bottom: 30px;
    }
    .about-pic {
        margin-top: 0;
        margin-left: 30px;
    }
}
@media (max-width: 760px) {
    .about-pic {
        display: none;
    }
    .block-about {
        text-align: center;
    }
    .about-info__link {
        margin: 30px 0;
    }
}
@media (max-width: 500px) {
    .about-info__desc {
        font-size: 24px;
    }
    .about-title__name {
        margin: 30px 0 10px 0;
    }
}
/*==========visual======*/
.visual {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.visualBlock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px  20px 0 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.visualBlock-text {
    margin: 80px 0 70px;
    font-size: 18px;
}
.visualBlock-title {
    font-weight: bold;
    margin: 20px 0 30px  0;
    font-size: 25px;
}
.visualBlock-logo {
    width: 165px;
}
.visualBlock-desc {
    width: 100%;
}
.visualBlock-desc,
.visualBlock-btn {
    font-size: 14px;
}
.visualBlock-btn {
    margin: 50px 0 50px 0;
    padding: 5px 10px ;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transition: background 1s;
    -o-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
}
.visualBlock-btn:hover {
    border: 1px solid #fff;
    background: #3f382b;
}
.excursions {
    width: -webkit-calc(33.33333333%);
    width: -moz-calc(33.33333333%);
    width: calc(33.33333333%);
    background-image: url('../img/fon-1.png');
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}
.events {
    width: -webkit-calc(66.66666667%);
    width: -moz-calc(66.66666667%);
    width: calc(66.66666667%);
    background-image: url('../img/fon-2.png');
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.events .visualBlock-title {
    margin: 190px 0 30px 0;
}
.events .visualBlock-text {
    margin: 0;
}
.events .visualBlock-desc {
    margin: 70px 0 70px 0;
}
.bridges {
    color: #fff;
    width: -webkit-calc(66.66666667%);
    width: -moz-calc(66.66666667%);
    width: calc(66.66666667%);
    background-image: url('../img/fon-3.png');
    background-repeat: no-repeat;
}
.bridges a {
    display: inline-block;
}
.bridges .visualBlock-title {
    margin: 90px 0 30px 0;
    font-weight: bold;
}
.bridges .visualBlock-link {
    font-size: 14px;
    margin: 0 10px;
    border-bottom: 1px solid #fff;
}
.bridges .visualBlock-link:hover {
    border-bottom: none;
    cursor: pointer;
}
.visualBlock-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.photoVideo {
    width: -webkit-calc(33.33333333%);
    width: -moz-calc(33.33333333%);
    width: calc(33.33333333%);
    background-image: url('../img/fon-4.png');
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}
@media (max-width: 770px) {
    .events,
    .excursions,
    .bridges,
    .photoVideo {
        width: 50%;
        -moz-background-size: cover;
        background-size: cover;
    }
    .visualBlock-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .bridges .visualBlock-link {
        margin: 10px 0;
    }
    .visualBlock-text,
    .visualBlock-btn {
        margin: 30px 0;
    }
    .events .visualBlock-title,
    .events .visualBlock-desc {
        margin: 30px 0;
    }
    .events .gradient-btn {
        margin-top: 40px;
    }
}
@media (max-width: 550px) {
    .events,
    .excursions,
    .bridges,
    .photoVideo {
        width: 100%;
        height: 400px;
    }
}
/*==========services============*/
.services {
    display: block;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.services-desc {
    display: block;
    width: 50%;
    margin: 85px auto;
    padding: 0 20px;
}
.services-desc__bold {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}
.services-desc__reg {
    font-size: 14px;
}
.sevices-articles {
    display: block;
}
.sevices-articles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    counter-reset: number;
}
.article {
    width: -webkit-calc(33.33333333%);
    width: -moz-calc(33.33333333%);
    width: calc(33.33333333%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
}
.article:before {
    counter-increment: number;
    content: counter(number);
    font-size: 50px;
    font-weight: bold;
    color: #82848c;
    padding: 0 20px;
}
.article-link {
    color: #0658ff;
    padding: 30px 0;
    font-size: 14px;
    font-weight: bold;
}
.article-link:after {
    content: '\2192';
    padding-left: 15px;
}
.article-text {
    color: black;
    font-size: 16px;
    font-weight: normal;
}
@media (max-width: 700px) {
    .services-desc {
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 600px) {
    .article {
        width: 100%;
    }
    .sevices-articles {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .article-link {
        padding: 15px 0;
    }
}
/*========article==========*/
.news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.newsBlock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: -webkit-calc(25%);
    width: -moz-calc(25%);
    width: calc(25%);
    height: 300px;
    padding: 30px;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
}
.newsBlock-title {
    margin: 20px 0;
    font-size: 20px;
    text-decoration: underline;
    -webkit-transition: -webkit-text-decoration 1s;
    transition: -webkit-text-decoration 1s;
    -o-transition: text-decoration 1s;
    -moz-transition: text-decoration 1s, -moz-text-decoration 1s;
    transition: text-decoration 1s;
    transition: text-decoration 1s, -webkit-text-decoration 1s, -moz-text-decoration 1s;
}
.newsBlock-title:hover,
.newsBlock-link:hover {
    text-decoration: none;
}
.info {
    font-size: 12px;
}
.newsBlock-link {
    text-decoration: underline;
}
.newsBlock-link:before {
    content: '';
    width: 5px;
    height: 5px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    margin-right: 5px;
    display: inline-block;
}
.blockNews1 {
    background-image: url('../img/news1.png');
}
.blockNews2 {
    background-image: url('../img/news2.png');
}
.blockNews3 {
    background-image: url('../img/news1.png');
}
.blockNews4 {
    background-image: url('../img/news4.png');
}
.blockNews5 {
    background-image: url('../img/news5.png');
}
.blockNews6 {
    background-image: url('../img/news6.png');
}
.blockNews7 {
    background-image: url('../img/bg6.png');
}
.blockNews8 {
    background-image: url('../img/news2.png');
}
.news-btn {
    display: block;
    margin: 70px auto;
}
@media (max-width: 800px) {
    .newsBlock {
        width: -webkit-calc(33.33333333%);
        width: -moz-calc(33.33333333%);
        width: calc(33.33333333%);
    }
}
@media (max-width: 650px) {
    .newsBlock {
        width: -webkit-calc(50%);
        width: -moz-calc(50%);
        width: calc(50%);
    }
}
@media (max-width: 470px) {
    .newsBlock {
        width: 100%;
    }
}
/*==========pre-maps===========*/
.pre-map {
    background: #ced4da;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 100px 20px 30px;
}
.pre-map__title {
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.pre-map__symbols {
    padding: 20px;
    font-size: 16px;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.symp-points {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 40px 0;
    font-size: 20px;
}
.symp-points__circle {
    margin: 0 20px;
    position: relative;
}
.blue:before {
    background: #0658ff;
    content: '';
    margin-right: 10px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 70px;
}
.green {
    margin-left: 90px;
}
.green:before {
    background: #5ca64b;
    content: '';
    margin-right: 10px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -40px;
}
@media (max-width: 850px) {
    .pre-map {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .pre-map__title,
    .pre-map__symbols {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .symp-points {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .green {
        margin-left: 0;
        margin-top: 20px;
    }
    .symp-points {
        margin: 0;
    }
    .blue {
        margin-left: -50px;
        margin-top: 20px;
    }
}
/*========footer=========*/
footer {
    display: block;
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    padding: 150px 20px 0;
}
.footer-slogan {
    color: #fff;
    width: 50%;
    margin: 0 auto 40px;
    font-size: 36px;
}
.footer-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    margin: 0 auto 130px;
    text-align: center;
}
.footerlink:not(.not-border) {
    border-left: 1px solid #fff;
    padding-left: 10px;
}
.footer-link__menu {
    text-decoration: underline;
    cursor: pointer;
    color: #82848c;
}
.footer-link__menu:hover {
    text-decoration: none;
}
.sliderBottom-left__text {
    display: none;
}
.footer-menu {
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
}
.footer-menu a {
    text-decoration: underline;
}
.footer-menu a:hover {
    text-decoration: none;
}
@media (max-width: 930px) {
    .footer-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .sliderTop-logo__img,
    .footer-lang {
        display: none;
    }
    .sliderBottom-left {
        margin-bottom: 10px;
    }
    .footerlink {
        padding: 0 10px;
    }
    .footer-slogan {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 720px) {
    .footerLinks {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .footerlink {
        margin-top: 5px;
    }
}
@media (max-width: 670px) {
    .footer-link {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 20px 20px 40px;
    }
}
@media (max-width: 480px) {
    .footer-link {
        margin: 0;
    }
    .footer-slogan {
        font-size: 24px;
    }
}